<footer class="text-light py-4 mt-auto" style="background-color: #222;">
    <div class="container text-center">
      <p class="mb-2">© 2025 movie. All Rights Reserved.</p>
  
      <div class="mb-3">
        <a href="#" class="text-light me-3">Home</a>
        <a href="#" class="text-light me-3">Movies</a>
        <a href="#" class="text-light me-3">TV Shows</a>
        <a href="#" class="text-light">Contact</a>
      </div>
  
      <div>
        <a href="#" class="text-light me-3">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="#" class="text-light me-3">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="#" class="text-light">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </footer>
  